<h3>{{ _('Filament Sensor Simplified') }}</h3>
<form id="filamentsensorsimplified_settings" class="form-horizontal">
    <div class="alert alert-info" data-bind="visible: printing">
        <i class="fas icon-lock fa-hourglass-half  iconRight"></i>
        {{ _('All settings are disabled while printing') }}
    </div>

    <h4>{{ _('Sensor setup') }}</h4>

    <div class="control-group">
        <label class="control-label" for="filamentsensorsimplified_settings_gpioMode">{{ _('Board mode') }}</label>
        <div class="controls">
            <select title="{{ _('Board - referring to the pins by the number, BCM - referring to the pins by the Broadcom SOC channel') }}" id="filamentsensorsimplified_settings_gpioMode" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.gpio_mode, disable:gpio_mode_disabled() || printing()" required>
                <option value=10>{{ _('Physical/Board mode') }}</option>
                <option value=11>{{ _('GPIO/BCM mode') }}</option>
            </select>
            <div class="alert alert-info" data-bind="visible: gpio_mode_disabled">
                <i class="fas fa-info icon-info-sign iconRight"></i>
                {{ _('Board mode has been set by third party/other plugin and is disabled') }}
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="filamentsensorsimplified_settings_pinInput">{{ _('Pin number') }}</label>
        <div class="controls">
            <input id="filamentsensorsimplified_settings_pinInput" type="number" step="1" min="0" max="40" class="input-mini" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.pin, disable:printing" required>
            <span class="help-block">Which Raspberry Pi pin is your sensor output attached to? (0 disables the plugin) <a target="_blank" href="https://pinout.xyz/">Pinout help</a></span>
            <div class="alert alert-error hidden" id="filamentsensorsimplified_settings_badpin">
                <i class="fas fa-info icon-info-sign iconRight"></i>
                {{ _('Warning: The selected pin is not a standard "data" pin.') }}
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="filamentsensorsimplified_settings_powerInput">{{ _('Sensor is connected to') }}</label>
        <div class="controls">
            <select id="filamentsensorsimplified_settings_powerInput" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.power, disable:printing" required>
                <option value=0>{{ _('Ground') }}</option>
                <option value=1>{{ _('3.3V') }}</option>
            </select>
            <span class="help-block">Specify how the sensor (switch) is connected. One end of the sensor must be wired to ground or 3.3V.</span>
            <div class="alert alert-error">
                <i class="fas fa-exclamation icon-warning-sign iconRight"></i>
                Warning! Never connect the sensor to 5V! 5V could destroy GPIO of your Raspberry Pi.
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Switch type') }}</label>
        <div class="controls">
            <select id="filamentsensorsimplified_settings_triggeredInput" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.triggered, disable:printing" required>
                <option value=0>{{ _('Triggered when open') }}</option>
                <option value=1>{{ _('Triggered when closed') }}</option>
            </select>
            <span class="help-block">Select if the switch is triggered when open or closed.</span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="button" class="btn btn-info" data-bind="click: testSensor, disable:printing" value="Test sensor">
            <br/>
            <br/>
            <strong id="filamentsensorsimplified_settings_testResult" data-bind="html: testSensorResult"></strong>
        </div>
    </div>

    <h4>{{ _('Filament run out action') }}</h4>
    <div class="control-group">
        <label class="control-label" for="filamentsensorsimplified_settings_commandInput">{{ _('Action') }}</label>
        <div class="controls">
            <select data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.cmd_action, disable:printing" required>
                <option value=0>{{ _('Send G-code') }}</option>
                <option value=1>{{ _('OctoPrint pause') }}</option>
            </select>
        </div>

        <br/>
        <label class="control-label" for="filamentsensorsimplified_settings_commandInput" data-bind="visible: settingsViewModel.settings.plugins.filamentsensorsimplified.cmd_action() == 0">{{ _('G-code') }}</label>
        <div class="controls" data-bind="visible: settingsViewModel.settings.plugins.filamentsensorsimplified.cmd_action() == 0">
            <input id="filamentsensorsimplified_settings_commandInput" type="text" class="input-large" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.g_code, disable:printing">
            <span class="help-block">Which G-code will be sent to printer on filament runout.</span>
        </div>

    </div>

    <div class="alert alert-info hidden" id="filamentsensorsimplified_settings_pullupwarn">
        <i class="fas fa-info icon-info-sign iconRight"></i>
        Pins 3 and 5 (Board mode) or pins 2 and 3 (BCM mode) have physical pull up resistor. If sensor is connected to 3.3V this plugin won't work.
    </div>
    <br>

    <p>For more information click <a target="_blank" href="https://github.com/LuckyX182/Filament_sensor_simplified">here</a></p>

</form>
