<h3>{{ _('Filament Sensor Simplified') }}</h3>
<form id="filamentsensorsimplified_settings" class="form-horizontal marginTop">

    <div class="control-group">
        <div class="marginBot">
            <b>Select the board mode:</b>
        </div>
        <label class="control-label">{{ _('Board mode') }}</label>
        <div class="controls" data-toggle="tooltip"
             title="{{ _('Specify how the sensor (switch) is connected. One end of the sensor must be wired to ground or 3.3 V. Sensor is triggered when open.') }}">
            <select id="gpioMode" class="select-mini" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.gpio_mode, disable:settingsViewModel.settings.plugins.filamentsensorsimplified.gpio_mode_disabled">
                <option value=BCM>{{ _('Board mode') }}</option>
                <option value=BOARD>{{ _('BCM mode') }}</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <div class="marginBot">
            <b>Which Raspberry Pi pin your sensor output is attached to (-1 disables the plugin)</b>
        </div>
        <label class="control-label">{{ _('Board pin number:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input id="pinInput" type="number" step="1" min="-1" max="40" class="input-mini text-right"
                   data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.pin">
        </div>
    </div>

    <div class="control-group">
        <div class="marginBot">
            <b>Which G-code will be sent to printer on filament runout?</b>
        </div>
        <label class="control-label">{{ _('Command to send:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input id="commandInput" type="text" class="input-large"
                   data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.g_code">
        </div>
    </div>

    <div class="control-group">
        <div class="marginBot">
            <b>Input terminal of the sensor (switch) needs to be connected to ground or 3.3 V</b>
        </div>
        <label class="control-label">{{ _('Sensor is connected to:') }}</label>
        <div class="controls" data-toggle="tooltip"
             title="{{ _('Specify how the sensor (switch) is connected. One end of the sensor must be wired to ground or 3.3 V. Sensor is triggered when open.') }}">
            <select id="powerInput" class="select-mini" data-bind="value: settingsViewModel.settings.plugins.filamentsensorsimplified.power">
                <option value=0>{{ _('Ground') }}</option>
                <option value=1>{{ _('3.3V') }}</option>
            </select>
        </div>
        <div>
            <table style="margin-left: 180px; margin-top: 20px">
                <tr>
                    <td>
                        <input type="button" class="btn" data-bind="click: testSensor" value="Test sensor">
                    </td>
                    <td style="padding-left: 10px">
                        <p id="sensor-test-result-text" data-bind="text: testSensorResult" style="display: inline;"></p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="alert-info wy-alert-warning marginTop">
            <span class="icon-info-sign"></span>
            <span class="octoFontFamily iconIndent">Sensor is triggered when open.</span>
        </div>
        <div class="alert-danger">
            <span class="icon-warning-sign"></span>
            <span class="octoFontFamily iconIndent">Warning! Never connect the sensor to 5V! 5V could destroy GPIO of your Raspberry Pi.</span>
        </div>
        <div style="font-size: 11px">
            For more information click <a
                href="https://github.com/LuckyX182/Filament_sensor_simplified">here</a>
        </div>
    </div>
</form>
