#filamentsensorsimplified_settings .iconRight {
	margin-right: -25px;
	margin-top: 3px;
	float: right;
}

#filamentsensorsimplified_settings div.controls div.alert {
	margin-bottom: 0px;
	margin-top: 5px;
}

#filamentsensorsimplified_settings .pulsAlert {
	animation: pulsate 1s ease-out;
    animation-iteration-count: 1;
}

.red-color {
    color: #fc0303;
}

.green-color {
    color: #19bf21;
}

.margin-top10 {
    margin-top: 10px;
}

.left {
    float: left;
}

.logo {
    padding-right: 20px;
    float: right;
}
