#filamentsensorsimplified_settings .iconRight{
	margin-right: -25px;
	float: right;
}

#filamentsensorsimplified_settings div.controls div.alert{
	margin-bottom: 0px;
}

#filamentsensorsimplified_settings .pulsAlert{
	animation: pulsate 1s ease-out;
    animation-iteration-count: 3;
}

#filamentsensorsimplified_settings_testResult{
	display: block;
	margin-bottom: 10px;
}